@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-lg;
}

/* Projects Section */
.projects img {
    width: 100%;
}

/* Color Variables */
:root {
    --primary: #0F172A;
    --secondary: #1E293B;
    --accent: #7477FF;
}

/* Background Color Classes */
.bg-primary {
    background: var(--primary);
}

.bg-secondary {
    background: var(--secondary);
}

.bg-accent {
    background: var(--accent);
}

/* Text Color Classes */
.text-accent {
    color: var(--accent);
}

/* Navigation */
nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: var(--accent);
}

/* Mobile Navigation */
.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
    position: fixed;
    top: -100%;
    right: 0;
    transition: top 200ms ease-in, right 200ms ease-in;
}

.animation-class {
    animation: slide-in 0.5s ease-in-out;
}

.animation-class:nth-child(1) {
    animation-delay: 0.2s;
}

.animation-class:nth-child(2) {
    animation-delay: 0.4s;
}

.animation-class:nth-child(3) {
    animation-delay: 0.6s;
}

.animation-class:nth-child(4) {
    animation-delay: 0.8s;
}
/* ...and so on */

@keyframes slide-in {
    from {
        transform: translateY(500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .hidden {
      display: none;
  }
  .btn:hover {
    background-color: transparent; /* Change the background color on hover */
    color: var(--accent); /* Change the text color on hover */
    border-color: var(--accent); /* Change the border color on hover */
}
.btn {
    transition: all 0.3s ease-in-out;
}


.transition-entering {
    top: 0;
    right: 0;
}
.transition-entered {
    top: 0;
    right: 10;
    transition: top 200ms ease-in, right 200ms ease-in;
}
.transition-exiting {
    top:10;
    right: 0;
}
.transition-exited {
    top: -100%;
    right: 0;
    transition: top 200ms ease-out, right 200ms ease-out;
}
.translate-y-32 {
    transform: translateY(2px);
}
.projects{
    box-shadow: #fff;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
}